
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

button {
    padding: .5em;
}

img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: .25em;
}

li {
    list-style: none;
}